{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <h1>Edit Book</h1>

    {{ form_start(form) }}
    
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.category) }}
        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.publicationDate) }}
        {{ form_widget(form.publicationDate, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.published) }}
        {{ form_widget(form.published, {'attr': {'class': 'form-check-input'}}) }}
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}



{% endblock %}
